.single-news,
.single-column,
.news-archive {
	.sec-pagevisual {
		.pagevisual {
			&-inner {
				background: url(/common/img/news-mv.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				height: 26vw;
				margin: 0 3% 2% 5%;
				position: relative;
				@include maxsp {
					height: 150px;
					margin-bottom: 5%;
				}
			}
			&-tit {
				span {
					font-size: 3.45vw;
				}
			}
		}
	}
}
.single-news,
.news-archive {
	.sec {
		&-headline {
			padding: 0 0 0 40px;
			@include maxsp {
				padding: 50px 0 0 40px;
			}
		}
	}
}

.news-archive {
	.sec-news {
		.sec-inner {
			max-width: 1200px;
			@media screen and (max-width: 1200px) {
				width: 95%;
			}
		}
	}
}
.single-news {
	.sec-inner {
		max-width: 1200px;
		@media screen and (max-width: 1200px) {
			width: 95%;
		}
	}
	.news {
		&-tit {
			@include fs(30);
			@include maxsp {
				@include fs(20);
			}
		}
		&-date {
			@include fs(20);
			@include maxsp {
				@include fs(16);
			}
		}
		&-detail {
			margin: 15px auto 0;
			max-width: 580px;
		}
		&-img {
			margin-top: 50px;
			margin-bottom: 70px;
			@include maxsp {
				height: auto;
				overflow: hidden;
				width: 100%;
			}
		}
		&-body {
			line-height: 2.5;
		}
		img {
			@include maxsp {
				height: auto;
				object-fit: cover;
				width: 100%;
			}
		}
	}
	.paging {
		.sec-inner {
			max-width: 580px;
			margin-top: 100px;
		}
	}
}
.wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 1040px;
	margin: 0 auto;
	@include maxsp {
		flex-direction: column;
		margin: 0 auto;
		width: 90%;
	}
}
.post-type-archive-column {
	.wrapper {
		max-width: 1380px;
	}
}
article {
	width: 80%;
	@include maxtb {
		width: 75%;
	}
	@include maxsp {
		width: 100%;
	}
	.three-columns-box {
		box-shadow: none;
		margin-bottom: 80px;
		width: calc((100% - 160px) / 3);
		@include maxtb {
			width: calc((100% - 160px) / 2);
			@include maxsp {
				width: 100%;
			}
		}
		.box-tit {
			@include fs(18);
		}
		&:hover {
			.box-img {
				img {
					opacity: 0.6;
					transform: scale(1.1);
				}
			}
			.box-tit {
				color: $sc;
			}
		}
	}
}
aside {
	margin-top: 10%;
	width: 18%;
	@include maxtb {
		width: 25%;
	}
	@include maxsp {
		margin: 0px auto 100px;
		width: 100%;
	}
	p {
		border-top: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		color: $sc;
		margin-right: 70px;
		padding: 10px;
		width: 150px;
		@include maxsp {
			margin-left: 70px;
			width: auto;
		}
	}
	.archives-list {
		border-bottom: 1px solid;
		border-right: 1px solid;
		border-left: 1px solid;
		color: $sc;
		margin-right: 70px;
		width: 150px;
		@include maxsp {
			margin-left: 70px;
			width: auto;
		}
		li {
			border-top: 1px solid;
			padding: 10px;
		}
	}
}
/*single-colum*/
.single-column {
	.wrapper {
		max-width: 1135px;
	}
	.headline-tit {
		padding-top: 25px;
		span::before {
			background: $sc;
			border-radius: 0;
			content: "";
			display: inline-block;
			height: 120px;
			left: -85px;
			position: absolute;
			top: -70px;
			width: 15px;
			z-index: -1;
			@include maxsp {
				left: -25px;
			}
		}
	}
	.sec-headline {
		padding: 0 0 0 65px;
		position: relative;
		@include maxsp {
			padding: 50px 0 0 25px;
		}
		&::after {
			background: $sc;
			content: "";
			display: inline-block;
			height: 1px;
			left: 0;
			position: absolute;
			top: 170px;
			width: 100%;
			z-index: -1;
		}
	}
	.sec-inner {
		max-width: 1200px;
		@media screen and (max-width: 1200px) {
			width: 95%;
		}
	}
	aside {
		display: none;
	}
	article {
		width: 100%;
	}
	.sec-news {
		margin-bottom: 100px;
	}
	.news {
		&-tit {
			@include fs(30);
			@include maxsp {
				@include fs(20);
			}
		}
		&-date {
			@include fs(20);
			@include maxsp {
				@include fs(16);
			}
		}
		&-detail {
			margin: 135px auto 0;
			p {
				line-height: 1.9;
				//margin-bottom: 5px;
			}
		}
		&-img {
			margin-top: 50px;
			margin-bottom: 70px;
			width: 670px;
			margin: 0 auto;
			height: 320px;
			@include maxsp {
				height: auto;
				overflow: hidden;
				width: 100%;
			}
			img {
				vertical-align: bottom;
				width: 100%;
				height: 100%;
				object-fit: cover;
				@include maxsp {
					height: auto;
					object-fit: cover;
					width: 100%;
				}
			}
		}
		&-body {
			line-height: 2;
			margin-top: 25px;
		}
	}
	#toc_container {
		//  width: 88%;
		margin: 30px auto 125px;
		padding: 35px;
		@include maxsp {
			padding: 35px 0;
		}
		p.toc_title {
			@include fs(30);
			text-align: left;
			@include maxsp {
				@include fs(20);
			}
			&::before {
				content: "";
				display: inline-block;
				width: 50px;
				height: 50px;
				background-image: url(/asset/img/mokuzi.png);
				background-size: contain;
				vertical-align: middle;
				@include maxsp {
					width: 25px;
					height: 25px;
				}
			}
			&::after {
				content: "";
				display: inline-block;
				width: 50px;
				height: 50px;
				background-image: url(/asset/img/mokuzi.png);
				background-size: contain;
				vertical-align: middle;
				@include maxsp {
					width: 25px;
					height: 25px;
				}
			}
		}
		p.toc_title + ul.toc_list {
			margin-top: 1em;
			margin: 1em 10%;
			line-height: 2.4;
		}
		ul ul {
			margin-left: 6.5em;
			@include maxsp {
				margin-left: 0;
			}
		}
		li {
			line-height: 2.2;
		}
	}
	.head {
		&_h2 {
			border-top: 1px solid $sc;
			border-bottom: 1px solid $sc;
			margin: 40px 0 30px;
			padding: 30px 50px;
			@include maxsp {
				padding: 30px 0;
			}
		}
		&_h3 {
			font-size: 18px;
			font-size: 1.125rem;
			border-bottom: 1px solid $sc;
			margin: 40px 0 30px;
			padding: 0 50px 10px;
			@include maxsp {
				padding: 0 0 10px;
			}
		}
		&_txt {
			padding-left: 100px;
			@include maxsp {
				padding-left: 0;
			}
		}
	}
}
mark {
	background: yellow;
}
.paging {
	.sec-inner {
		max-width: 580px;
		margin-top: 100px;
	}
}
